# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Clean and standardize the column names
df.columns = df.columns.str.lower()  # Convert all columns to lowercase
df.columns = df.columns.str.replace(' ', '_')  # Replace spaces with underscores
df.columns = df.columns.str.replace('st', 'state')  # Replace 'st' with 'state'
df.columns = df.columns.str.replace('gender', 'sex')  # Replace 'gender' with 'sex'

# Display the cleaned column names
df.columns

Index(['custateomer', 'state', 'sex', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [3]:
# Clean the Gender column by standardizing values
df['sex'] = df['sex'].replace({'Femal': 'F', 'Male': 'M', 'female': 'F', 'M': 'M', 'F': 'F'})

# Replace state abbreviations with full state names
state_map = {
    'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington', 'NY': 'New York', 'TX': 'Texas', 
    'CA': 'California', 'FL': 'Florida', 'NV': 'Nevada', 'OH': 'Ohio', 'PA': 'Pennsylvania', 
    'NJ': 'New Jersey', 'VA': 'Virginia', 'MD': 'Maryland', 'CO': 'Colorado', 'IL': 'Illinois', 
    'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'MO': 'Missouri', 'GA': 'Georgia', 
    'NC': 'North Carolina', 'SC': 'South Carolina', 'KY': 'Kentucky', 'LA': 'Louisiana'
}
df['state'] = df['state'].replace(state_map)

# Standardize Education column values
df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

# Clean Customer Lifetime Value by removing '%' sign and converting to float
df['custateomer_lifetime_value'] = df['custateomer_lifetime_value'].replace({'%': ''}, regex=True)
df['custateomer_lifetime_value'] = pd.to_numeric(df['custateomer_lifetime_value'], errors='coerce')

# Replace vehicle classes with a generalized "Luxury"
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
})

# Display the cleaned dataframe
df.head()

,custateomer,state,sex,education,custateomer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [5]:
# Ensure 'custateomer_lifetime_value' is numeric
df['custateomer_lifetime_value'] = pd.to_numeric(df['custateomer_lifetime_value'], errors='coerce')

# Inspect unique values in 'number_of_open_complaints' to understand the format
print(df['number_of_open_complaints'].unique())

# Convert 'number_of_open_complaints' to string to handle it with .str accessor
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str)

# Split 'number_of_open_complaints' to extract the number after '/' and convert to numeric
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]

# Convert the 'number_of_open_complaints' column to numeric, coercing errors to NaN
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# If you want to fill NaNs with a placeholder value (e.g., 0 or another appropriate value), you can do this:
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0)

# Convert 'number_of_open_complaints' to integer type
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)

# Check the updated data types
print(df.dtypes)

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
custateomer                    object
state                          object
sex                            object
education                      object
custateomer_lifetime_value    float64
income                        float64
monthly_premium_auto          float64
number_of_open_complaints       int64
policy_type                    object
vehicle_class                  object
total_claim_amount            float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [7]:
# Step 1: Identify columns with null values and how many null values each column has
null_values = df.isnull().sum()
print("Columns with null values:\n", null_values)

# Step 2: Handle null values
# Fill numeric columns with the median
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

# Fill categorical columns with the mode
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Step 3: Verify no more null values
print("Columns with null values after handling:\n", df.isnull().sum())

# Step 4: Convert all numeric columns to integers
df[numeric_cols] = df[numeric_cols].astype(int)

# Verify data types
print(df.dtypes)

Columns with null values:
 custateomer                   2937
state                         2937
sex                           3054
education                     2937
custateomer_lifetime_value    2940
income                        2937
monthly_premium_auto          2937
number_of_open_complaints        0
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64
Columns with null values after handling:
 custateomer                   0
state                         0
sex                           0
education                     0
custateomer_lifetime_value    0
income                        0
monthly_premium_auto          0
number_of_open_complaints     0
policy_type                   0
vehicle_class                 0
total_claim_amount            0
dtype: int64
custateomer                   object
state                         object
sex                           object
education                     object
custateomer_lifetime_value     int64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount             int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [9]:
# Step 1: Identify duplicate rows in the dataframe
duplicates = df.duplicated()
print("Duplicate rows (True indicates a duplicate row):\n", duplicates)

# Step 2: Decide on a strategy for handling duplicates
# Strategy: Keep only the first occurrence of each duplicated row
df_cleaned = df.drop_duplicates(keep='first')

# Step 3: Verify that the duplicates have been handled
# Checking if there are any remaining duplicate rows
duplicates_after = df_cleaned.duplicated()
print("Duplicate rows after dropping duplicates:\n", duplicates_after)

# Step 4: Reset the index to ensure consistency after dropping duplicates
df_cleaned.reset_index(drop=True, inplace=True)

# Step 5: Save the cleaned dataset to a new CSV file
df_cleaned.to_csv("cleaned_customer_data.csv", index=False)

# Output a message confirming the saved file
print("\nCleaned dataset has been saved to 'cleaned_customer_data.csv'.")

Duplicate rows (True indicates a duplicate row):
 0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Length: 4008, dtype: bool
Duplicate rows after dropping duplicates:
 0       False
1       False
2       False
3       False
4       False
        ...
1067    False
1068    False
1069    False
1070    False
1071    False
Length: 1072, dtype: bool

Cleaned dataset has been saved to 'cleaned_customer_data.csv'.

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [11]:
# main.py

import pandas as pd
from data_cleaning import clean_data

# Load the CSV file into a DataFrame
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Print column names before cleaning
print("Column names before cleaning:\n", df.columns)

# Clean column names by stripping whitespace and converting to lowercase
df.columns = df.columns.str.strip().str.lower()

# Print cleaned column names
print("Column names after cleaning:\n", df.columns)

# Check the first few rows of the dataset to ensure we are accessing the data correctly
print("First few rows of the dataset:\n", df.head())

# Clean the data
df_cleaned = clean_data(df)

# Save the cleaned data to a new CSV file
df_cleaned.to_csv('cleaned_customer_data.csv', index=False)

# Output confirmation message
print("Cleaned dataset has been saved to 'cleaned_customer_data.csv'.")

Column names before cleaning:
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Column names after cleaning:
 Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
First few rows of the dataset:
   customer          st gender             education customer lifetime value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly premium auto number of open complaints     policy type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle class  total claim amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

KeyError: 'State'

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [13]:
import pandas as pd

# Assuming df_cleaned is your cleaned DataFrame

# Step 1: Review the statistics for total claim amount and customer lifetime value
print("Summary statistics for the 'policy_claim_amount' column:")
print(df_cleaned['policy_claim_amount'].describe())

print("\nSummary statistics for the 'customer_lifetime_value' column:")
print(df_cleaned['customer_lifetime_value'].describe())

# Step 2: Identify the 75th percentile for 'policy_claim_amount' and 25th percentile for 'customer_lifetime_value'
claim_75th_percentile = df_cleaned['policy_claim_amount'].quantile(0.75)
lifetime_25th_percentile = df_cleaned['customer_lifetime_value'].quantile(0.25)

print("\n75th percentile for 'policy_claim_amount':", claim_75th_percentile)
print("25th percentile for 'customer_lifetime_value':", lifetime_25th_percentile)

# Step 3: Filter customers who have a high policy claim amount and low customer lifetime value
high_claim_low_lifetime = df_cleaned[
    (df_cleaned['policy_claim_amount'] > claim_75th_percentile) & 
    (df_cleaned['customer_lifetime_value'] < lifetime_25th_percentile)
]

# Step 4: Calculate summary statistics for the filtered data
print("\nSummary statistics for customers with high policy claim and low customer lifetime value:")
print(high_claim_low_lifetime[['policy_claim_amount', 'customer_lifetime_value']].describe())

Summary statistics for the 'policy_claim_amount' column:

NameError: name 'df_cleaned' is not defined